# Project 1

## Reg_no: DS056

It's important that you fill in your registration number for proper documentation.

In this project you will be creating your own data set from scratch.

Follow the instructions below

## Import numpy and pandas

In [1]:
# Complete this
import numpy as np
import pandas as pd

### Create  a dictionary (named student) of 10 students with name, relationship status, age and department columns

In [2]:
student = {'name':['Moyin', 'Damola', 'Micheal', 'Samuel', 'Anjola', 'Angel', 'Kelvin', 'Praise', 'Seun', 'Ore'],
           'relationship':['single', 'married', 'married','married','married','married', 'single','single','single','single'],
           'age':[20, 23, 24, 25, 28, 30, 40, 15, 17, 18],
           'department':['French', 'English', 'Law','Law', 'Law', 'German', 'Zoology', 'Botany', 'Geology', 'French']}

# 10 values in each of the square brackets

### Add cgpa to the dictionary

In [3]:
student['cgpa'] = [4.6, 4.5, 3.5, 3.0, 4.0, 5.0, 2.1, 2.9, 3.9, 1.8] # 10 values for the students' cgpa

### Remove relationship status from the dictionary

In [4]:
student.pop('relationship')  # fill in the key  you want to remove

['single',
 'married',
 'married',
 'married',
 'married',
 'married',
 'single',
 'single',
 'single',
 'single']

## Convert the dictionary to a dataframe(df)

In [5]:
df = pd.DataFrame(student)    # complete this

## Add admission_date (year, month and day)and gender columns to the dataframe

In [6]:
df['admission_date'] =  ['2022-04-14 12:01', '2021-05-12 12:02', '2020-01-02 12:03', '2022-12-11 12:04', '2022-11-11 12:05', '2022-02-11 12:06', '2022-10-19 12:07', '2022-06-21 12:08', '2022-08-01 12:09', '2022-08-07 12:10'] #complete the code
df['gender'] = ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male']

# Check the dataframe

In [7]:
df

      name  age department  cgpa    admission_date  gender
0    Moyin   20     French   4.6  2022-04-14 12:01  Female
1   Damola   23    English   4.5  2021-05-12 12:02    Male
2  Micheal   24        Law   3.5  2020-01-02 12:03    Male
3   Samuel   25        Law   3.0  2022-12-11 12:04  Female
4   Anjola   28        Law   4.0  2022-11-11 12:05    Male
5    Angel   30     German   5.0  2022-02-11 12:06  Female
6   Kelvin   40    Zoology   2.1  2022-10-19 12:07  Female
7   Praise   15     Botany   2.9  2022-06-21 12:08  Female
8     Seun   17    Geology   3.9  2022-08-01 12:09    Male
9      Ore   18     French   1.8  2022-08-07 12:10    Male

### Create the same dataframe (df2) with all the columns (name,  age, department, admission_date and gender) from a list instead of a dictionary.

In [8]:
## Check the dataframe
name = ['Moyin', 'Damola', 'Micheal', 'Samuel', 'Anjola', 'Angel', 'Kelvin', 'Praise', 'Seun', 'Ore']
age= [20, 23, 24, 25, 28, 30, 40, 15, 17, 18]
department= ['French', 'English', 'Law','Law', 'Law', 'German', 'Zoology', 'Botany', 'Geology', 'French']
admission_date= ['2022-04-14 12:01', '2021-05-12 12:02', '2020-01-02 12:03', '2022-12-11 12:04', '2022-11-11 12:05', '2022-02-11 12:06', '2022-10-19 12:07', '2022-06-21 12:08', '2022-08-01 12:09', '2022-08-07 12:10']
gender= ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male']


df2 = pd.DataFrame([name, age, department, admission_date, gender])

## Work on the first dataframe(df) from here on

### Convert df admission_date column to datetime


 first import datetime as dt



Extract the year, month and day as separate columns within the dataset

In [9]:
df.dtypes

name               object
age                 int64
department         object
cgpa              float64
admission_date     object
gender             object
dtype: object

In [10]:
import datetime as dt
df['admission_date'] = pd.to_datetime(df['admission_date'])  # convert the date to datetime object
df['year'] = df['admission_date'].dt.year
df['month'] = df['admission_date'].dt.month
df['day'] = df['admission_date'].dt.day
# Complete the code and do the same for month and day

In [11]:
# Check for data types of all columns
# Check for missing values
# Check for percentage of  missing values
df.dtypes
df.isnull()
percent_missing= df. isnull(). sum() * 100 / len(df)
print(percent_missing)

name              0.0
age               0.0
department        0.0
cgpa              0.0
admission_date    0.0
gender            0.0
year              0.0
month             0.0
day               0.0
dtype: float64

In [12]:
percent_missing

name              0.0
age               0.0
department        0.0
cgpa              0.0
admission_date    0.0
gender            0.0
year              0.0
month             0.0
day               0.0
dtype: float64

In [13]:
# Check unique values in each of the columns
# Check number of unique values in each of the columns
# Check value counts for each of the columns

df.nunique()

name              10
age               10
department         7
cgpa              10
admission_date    10
gender             2
year               3
month              9
day                8
dtype: int64

In [14]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            10 non-null     object
 1   age             10 non-null     int64
 2   department      10 non-null     object
 3   cgpa            10 non-null     float64
 4   admission_date  10 non-null     datetime64[ns]
 5   gender          10 non-null     object
 6   year            10 non-null     int64
 7   month           10 non-null     int64
 8   day             10 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(3)
memory usage: 848.0+ bytes

             age       cgpa         year      month        day
count  10.000000  10.000000    10.000000  10.000000  10.000000
mean   24.000000   3.530000  2021.700000   6.700000  10.900000
std     7.393691   1.070877     0.674949   3.743142   6.419588
min    15.000000   1.800000  2020.000000   1.000000   1.000000
25%    18.500000   2.925000  2022.000000   4.250000   8.000000
50%    23.500000   3.700000  2022.000000   7.000000  11.000000
75%    27.250000   4.375000  2022.000000   9.500000  13.500000
max    40.000000   5.000000  2022.000000  12.000000  21.000000

In [15]:
# How many rows and columns do you have? show it with df.shape
df.shape

(10, 9)

In [16]:
# Subset the dataframe for male gender
df.query("gender== 'Male'") # complete the code

      name  age department  cgpa      admission_date gender  year  month  day
1   Damola   23    English   4.5 2021-05-12 12:02:00   Male  2021      5   12
2  Micheal   24        Law   3.5 2020-01-02 12:03:00   Male  2020      1    2
4   Anjola   28        Law   4.0 2022-11-11 12:05:00   Male  2022     11   11
8     Seun   17    Geology   3.9 2022-08-01 12:09:00   Male  2022      8    1
9      Ore   18     French   1.8 2022-08-07 12:10:00   Male  2022      8    7

In [17]:
# Find the mean,max, min, sum CGPA

In [18]:
df['cgpa'].mean() #.max(), .min(), .sum()

3.53

In [19]:
df['cgpa'].sum()

35.3

In [20]:
df['cgpa'].max()

5.0

In [21]:
df['cgpa'].min()

1.8

In [24]:
# Check your df to be sure that you have all the rows and columns
df
# write your data frame to a csv file
df.to_csv('students_details.csv', index =False)
 # complete the code # remeber to set index parameter to False
# Download the csv file

In [26]:
pd.read_csv('students_details.csv')

,name,age,department,cgpa,admission_date,gender,year,month,day
0,Moyin,20,French,4.6,2022-04-14 12:01:00,Female,2022,4,14
1,Damola,23,English,4.5,2021-05-12 12:02:00,Male,2021,5,12
2,Micheal,24,Law,3.5,2020-01-02 12:03:00,Male,2020,1,2
3,Samuel,25,Law,3.0,2022-12-11 12:04:00,Female,2022,12,11
4,Anjola,28,Law,4.0,2022-11-11 12:05:00,Male,2022,11,11
5,Angel,30,German,5.0,2022-02-11 12:06:00,Female,2022,2,11
6,Kelvin,40,Zoology,2.1,2022-10-19 12:07:00,Female,2022,10,19
7,Praise,15,Botany,2.9,2022-06-21 12:08:00,Female,2022,6,21
8,Seun,17,Geology,3.9,2022-08-01 12:09:00,Male,2022,8,1
9,Ore,18,French,1.8,2022-08-07 12:10:00,Male,2022,8,7

### Submission
Create a folder on your desktop and name it Project 1

Move your notebook and the csv you downloaded to the folder

Create a github account if you haven't

Create a repository for the class and name it Python for Data Science (click on the + sign by the top right corner)

Click upload an existing file 

Drag the Project 1 folder containing your code and the csv file into the Drag here field (Do not click on choose your files)

Click on the repository name to go the repository home page

Click on the address bar to copy the repository link

Submit the link privately to me