<a href="https://colab.research.google.com/github/moyinmi/Python-for-Data-Science/blob/main/Projects/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2

## Reg_no: DS056

It's important that you fill in your registration number for proper documentation.

 **This is a dataset on weekly sales of different grocery stores. 
Use what you've learned to answer the following questions.**

[Link to data set](https://raw.githubusercontent.com/Tiamiyu1/Python-for-Data-Science-and-Analytics/main/Data/store_data.csv)



You can copy and paste the link directly into pd.read_csv('')

## Given store sales data, use Python to draw conclusions about how these stores are performing.

In [1]:
# imports libraries and load data
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/Tiamiyu1/Python-for-Data-Science-and-Analytics/main/Data/store_data.csv")
data.head(5)

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [10]:
data['week'] = pd.to_datetime(data['week'])  # convert the date to atetime object

data['month'] = data['week'].dt.month

In [12]:
data.head(10)

        week  storeA  storeB  storeC  storeD  storeE  month
0 2014-05-04    2643    8257    3893    6231    1294      5
1 2014-05-11    6444    5736    5634    7092    2907      5
2 2014-05-18    9646    2552    4253    5447    4736      5
3 2014-05-25    5960   10740    8264    6063     949      5
4 2014-06-01    7412    7374    3208    3985    3023      6
5 2014-06-08    1289   10137    5070    7163    1703      6
6 2014-06-15    6282    3925    5528    4748    3351      6
7 2014-06-22    5135    7317    5530    4595     104      6
8 2014-06-29   11766   12560    3199    4676    3573      6
9 2014-07-06    8567    3228     927    3277     168      7

### 1. Which store has the highest total sales for the final month of data?

In [6]:
data.columns

Index(['week', 'storeA', 'storeB', 'storeC', 'storeD', 'storeE'], dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    object
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [14]:
data.tail()

          week  storeA  storeB  storeC  storeD  storeE  month
195 2018-01-28     282    6351    7759    5558    1028      1
196 2018-02-04    4853    6503    4187    5956    1458      2
197 2018-02-11    9202    3677    4540    6186     243      2
198 2018-02-18    3512    7511    4151    5596    3501      2
199 2018-02-25    7560    6904    3569    5045    2585      2

In [17]:
##store A has the highest total sales

E.g. store X has the highest total sales for the final month of data

In [ ]:
# provide a visualization for your answer

### 2. Which store makes the most sales on average?

store B makes the most sales on average

In [23]:
# code here 
data['storeA'].mean()

# Write your answer below as text

5865.48

In [24]:
data['storeB'].mean()

6756.71

In [26]:
data['storeC'].mean()

4942.105

In [27]:

data['storeD'].mean()

5431.405

In [28]:
data['storeE'].mean()

2580.025

In [ ]:
# provide a visualization for your answer

### 3. Which store sells the most during the week of March 13th, 2016?

In [ ]:
# code here df[df['week'] =='2016-03-13']

# Write your answer below as text

In [29]:
data[data['week']== '2016-03-13']

         week  storeA  storeB  storeC  storeD  storeE  month
97 2016-03-13    2054    1390    5112    5513    2536      3

store D sells the most

In [ ]:
# provide a visualization for your answer

### 4. In what week does store C make its worst sales?

In [33]:
# code here 
data['storeC'].min()
# Write your answer below as text

927

In [ ]:
# provide a visualization for your answer

### 5. Which store has the most sales in the latest 3-month period?

In [ ]:
# code here 

# Write your answer below as text

In [ ]:
# provide a visualization for your answer